<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Trackify - Home</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <h1>Playlist AutoUpdater</h1>

    <form action="/playlists" method="POST">
        <label for="spotifyProfile">Enter Link to Spotify Profile: e.g. https://open.spotify.com/user/1172837699:</label>
        <input type="text" id="spotifyProfile" name="spotifyProfile" required>
        <button type="submit">Get Playlists</button>
    </form>

    <% if (playlists) { %>
        <h2>Public Playlists:</h2>
        <ul>
            <% playlists.forEach(function(playlist) { %>
                <li><%= playlist.name %></li>
            <% }); %>
        </ul>
    <% } %>

    <% if (error) { %>
        <p><%= error %></p>
    <% } %>
</body>
</html>
